/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
body{
	font-family: 'Roboto', sans-serif;
	background-color:black;
}
.nsavbar {
	padding-top: 10px 0px;
	border: 1px solid white;
	margin: 0;
	font-size: 12px;
	letter-spacing: 5px;
	color:#555;	
	background-color:#444444;
	width:100%;
	display:inline;
}
.navbar ul{
	float:right;
	list-style-type:none;
}
.navbar li{
	padding:0;
	display:inline;	
}
.navbar a,a:link,a:visited {
	color:#ffffff;
	text-decoration:none;
	
}
.navbar li a:hover {
	color: #30c5c5;
}
	
.div-banner {
	padding:10px;
	height:400px;
	background-color:#222222;
	color:#de4e4e;
	font-family: 'Roboto Mono', monospace;
	font-size:25px;
	margin-bottom:30px;
}

.div-content {
	/*min-height:400px;*/
	width:100%;
	background-color:#222222;
	color:white;
	margin-bottom:30px;
	padding-bottom:20px;
}
.div-content p{
	margin:15px;

}

.headcon {
	padding:1px 20px 1px;
	background-color:#C53030;
	color:#000000;
	font-family: 'Roboto Mono', monospace;
	/*
	
	*/
}
.margin-bot {
	margin-bottom:30px;
}
.float-left{
	float:left;
}

@media screen and (max-width: 600px) {
  .div-banner {
    font-size:20px;
  }
  .div-content p{
	  font-size:10px;
  }
   .headcon{
	  font-size:16px;
  }
}