/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
body{
	font-family: 'Roboto', sans-serif;
	background-color:black;
	margin:0;
	padding:0;
	overflow-x:hidden;
}

.nav{
	font-size: 15px;
	letter-spacing: 5px;
	padding:20px;
	margin: 0px;
	overflow: hidden;
	width:100%;
	box-sizing:border-box;
	position:fixed;
	transition:0.3s;
	z-index:10;
}

.nav ul{
	margin:0;
	padding:0;
}
.nav li{
	list-style-type:none;
	text-decoration:none;
	display:inline;
}

.nav a,a:link,a:visited {
	padding:20px;
	color:#ffffff;
	text-decoration:none;
	transition:.3s;
}
.nav a:hover {
	color: #30c5c5;
}
.nav-dropdown-btn a{
	display:none;
	float:right;
}
.div-banner {
	padding:20px 10px;
	height:95vh;
	background-color:#222222;
	color: #30c5c5;
	font-family: 'Roboto Mono', monospace;
	font-size:25px;
	margin-bottom:30px;
	box-sizing:border-box;
}

.div-banner h1{
	padding-top:30vh;
	width:70%;
}

.div-content {
	/*min-height:400px;*/
	background-color:#222222;
	color:white;
	margin-bottom:30px;
	box-sizing:border-box;
}
.div-content p, dl{
	margin:20px;
}

.headcon {
	color: #30c5c5;
	font-family: 'Roboto Mono', monospace;
	box-sizing:border-box;
}
.headcon h1 {
	border-bottom:1px solid white;
	padding:10px;
	margin:20px;
}
.slideshow{
	width:100%;
	height:80vh;

}

.slides{
	display:none;
	width:100%;
	height:100%;
}

.slideSeek{
	cursor:pointer;
	border:1px solid white;
	border-radius:100%;
}

.card{
	width:50%;
	height:60px;
	padding:20px;
	
	background-color:green;
}

.chip{
	border-radius:25px;
	padding:5px;
	user-select:none;
}
.btn-arw{
	border:1px solid white;
	display:inline;
	padding:10px 15px;
	width:10px;
	text-align:center;
	cursor:pointer;
	transition:.3s;
	user-select:none;
}
.btn-arw:hover{background-color:white;color: #30c5c5;}

/**********/
/*Media Queries for screen size*/
@media screen and (max-width: 600px) {
	.nav-hide a{
		display:none;
	}
	.nav-dropdown-btn a{
		display:inline;
	}
	.div-banner {
		font-size:20px;
	}
	.div-content p{
		font-size:13px;
	}
	.headcon{
		font-size:16px;
	}
@media only screen and (min-width: 600px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
}

/*Quick classes*/
.border{border:1px solid green;}
.clear{clear:both;}
.float-left{float:left !important;}
.float-right{float:right !important;}
.marg-bot-30{margin-bottom:30px;}
.marg-auto{margin:auto;}
.width-auto{width:auto;}
.width-100{width:100%;}
.width-50{width:50%;}
.width-25{width:25%;}
.width-10{width:10%;}
.center2{display:table;margin:0 auto;}
.centert{text-align:center;}
.center{display:flex;align-items:center;justify-content:center;}

/*Absolute Positioning*/
.absl{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);}
.abslt{position:absolute;top:0%;left:0%;}
.abslb{position:absolute;bottom:0%;left:0%;}
.absr{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);}
.absrt{position:absolute;top:0%;right:0%;}
.absrb{position:absolute;bottom:0%;right:0%;}
.absm{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.absmt{position:absolute;top:0%;left:50%;transform:translate(-50%,0%);}
.absmb{position:absolute;bottom:0%;left:50%;transform:translate(-50%,0%);}

/*object fit tells how an image or video will fit;define size to see effect*/
.fit-fill {object-fit:fill;}
.fit-contain {object-fit:contain;}
.fit-cover {object-fit:cover;}
.fit-scale-down {object-fit:scale-down;}
.fit-none {object-fit:none;}

/*Columns*/
.col.s1{width:8%}
.col.s2{width:16%}
.col.s3{width:24%}


/*QuickSave Colors*/
.skyblue{color:#de4e4e;}
.red1{background-color:#C53030;}
.red{color:#de4e4e;}
.orange{color:#ff9a00}
.yellow{color:#fdff00}
.green{color:#22ff00}
.blue{color:#0000ff}
.purple{color:#ad00ff}
.white{color:#fff}
.black{color:#000}
.gray{color:#777}
.bg-color-red{background-color:#de4e4e}
.bg-color-orange{background-color:#ff9a00}
.bg-color-yellow{background-color:#fdff00}
.bg-color-green{background-color:#22ff00}
.bg-color-blue{background-color:#0000ff}
.bg-color-purple{background-color:#ad00ff}
.bg-color-white{background-color:#fff}
.bg-color-black{background-color:#000}
.bg-color-gray{background-color:#777}


