body {
	background-color:grey;
}
.div-banner {
	height:400px;
	background-color:black;
	color:white;
}
.div_content {
	height:300px;
	width:100%;
}
.headcon {
	background-color:#CBCACA;
	width:100%;
}