/*
font-family: 'JetBrains Mono', monospace;
font-family: 'Roboto', sans-serif;
*/

* {
	box-sizing: border-box;
	transition: 0.3s;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #222 url(bg1.png) no-repeat fixed;
	background-size: cover;
	color: #eee;
	margin: auto;
	padding: 0;
	width: 100%;
	font-family: 'JetBrains Mono', monospace;
	user-select: none;
}

a {
	color: #eee;
	text-decoration: none;
}

.main-wrap {
	max-width: 1080px;
	border: 1px solid white;
}

.link:hover {
	color: #30c5c5;
}

.navbar {
	background-color: #111111aa;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	font-size: 20px;
	position: fixed;
	width: 100%;
	z-index: 3;
}

.navicon {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	width: 16%;
	padding-left: 8px;
}

.navicon a {
	padding: 8px;
}

.navhide {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
	padding-right: 8px;
}

.navhide a {
	margin-left: 16px;
	padding: 8px;
}

.hidden {
	display: none;
}

.hidden:hover {
	cursor: pointer;
}

.navmenu {
	display: none;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	position: fixed;
	background: #111111cc;
	font-size: 48px;
	font-weight: bold;
	z-index: 3;
}

.navmenu li {
	list-style-type: none;
}

.div-section {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	padding: 36px 8px;
	background: #111111aa;
}

.div-title {
	padding-bottom: 24px;
	text-align: center;
}

.div-title>h1 {
	display: inline;
	color: #eee;
	font-size: 2.5rem;
}

.home-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	height: 95lvh;
	font-size: 28px;
	padding: 0 16px;
}

.home {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 80lvh;
}

.home h1 {
	color: #30c5c5;
	font-size: 64px;
}

.home p {
	margin: 0;
	font-size: 16px;
	color: #eee;
}

.home hr {
	width: 100%;
}

.home-bottom {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	align-items: center;
	margin-bottom: 8px;
}

.home-resume-button {
	display:flex;
	align-items: center;
	border: 2px solid #eee;
	border-radius: 8px;
	padding: 4px;
	margin: 0 12px;
	color: #eee;
	font-size: 16px;
}

.home-resume-button:hover {
	border: 2px solid #2eb9b9;
	background-color: #2eb9b9;
}

.home-social {
	display:flex;
	align-items: center;
	border-left: 1px solid #eeeeee55;
	padding-left: 4px;
}

.home-social a:hover {
	background-color: #2eb9b933;
}

.home-arrow {
	display:flex;
	flex-grow: 8;
	justify-content: flex-end;
	padding-right: 8px;
}

.about-content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: inherit;
}

.about-content-left {
	display: flex;
	flex-flow: row wrap;
	border-radius: 16px;
	min-height: 300px;
	padding: 18px;
	background-color: #334;
	width: 70%;
	font-size: 1.125rem;
	text-align: justify;
	text-indent: 50px;
	line-height: 1.5;
}

.about-content-left span{
	color:#36d8d8;
	border-bottom:2px solid #36d8d8;
	padding: 0 4px;
}

.showcard-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.showcard-item {
	background-image: linear-gradient(to bottom, #00000000, #111111aa, #111111dd), url(img1.png);
	border-radius: 16px;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-end;
	max-width: 40%;
	margin: 24px;
	min-height: 360px;
	padding: 20px;
}

.showcard-details-title {
	padding-bottom: 8px;
}

.showcard-button-container {
	display: flex;
	justify-content: center;
	margin-top: 8px;
}

.showcard-button-filled {
	background-color: #eee;
	border: 2px solid #eee;
	border-radius: 12px;
	color: #111;
	display: inline-block;
	margin: 0 12px;
	min-width: 76px;
	padding: 4px;
	text-align: center;
}

.showcard-button {
	border: 2px solid #eee;
	border-radius: 12px;
	color: #eee;
	display: inline-block;
	margin: 0 12px;
	min-width: 76px;
	padding: 4px;
	text-align: center;
}

.showcard-button-filled:hover {
	border: 2px solid #2eb9b9;
	background-color: #2eb9b9;
	color: #eee;
}

.showcard-button:hover {
	border: 2px solid #2eb9b9;
	background-color: #2eb9b9;
}

.skill-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 70%;
}

.skill-category {
	min-width: 33%;
	padding: 10px;
	display: flex;
	flex-flow: column wrap;
	flex-grow: 2;
	align-items: center;
	background-color: #334;
	border-radius: 16px;
	margin: 4px;
	/*
	box-shadow:
    inset 60px 0 120px #333350,  
    inset -60px 0 120px #33335f; 
	*/
	
}

.skill-category h2{
	border-bottom: 2px solid white;
	margin:8px 0px;
}
.skill-item-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.skill-item {
	border-radius: 50%;
	height: 120px;
	width: 120px;
	margin: 8px;
}

.skill-item:hover{
	background-color: #445;
}

.footer {
	padding: 20px 20px;
	background-color: #111111ee;
	font-size: 12px;
}

.footer-container {
	display: flex;
}

.footer-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.footer-links {
	padding-top: 4px;
}

.footer-link-icons-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-link-icons-item {
	border: 1px solid #11111100;
	padding: 12px;
	margin: 0px 1px 4px 1px;
}

.footer-link-icons-item:hover {
	background-color: #222;
	border: 1px solid #222;
	border-radius: 50%;
}

.footer-item-copy {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.icon-small {
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
}

.icon-normal {
	width: 75px;
	height: 75px;
	padding: 0px;
	margin: 0px;
}

.icon-wide {
	width: 100px;
	height: 50px;
	padding: 0px;
	margin: 0px;
}

.icon-cpp {
	background-image: url(ISO_C++_Logo.svg);
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-cs {
	background-image: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg);
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-java {
	background-image: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg);
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-kt {
	background-image: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kotlin/kotlin-original.svg);
	background-size: 60% 60%;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-py {
	background-image: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg);
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-html {
	background-image: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg);
	background-size: 65% 65%;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-css {
	background-image: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg);
	background-size: 65% 65%;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-js {
	background-image: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg);
	background-size: 65% 65%;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-android {
	background-image: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/android/android-original.svg);
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-unity {
	background-image: url(unity.svg);
	color:#aaa;
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-git {
	background-image: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg);
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-github {
	background-image: url(github-mark-white.svg);
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
}
.icon-github2 {
	background-image: url(github2.svg);
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
	padding:20px;
	filter: invert(90%);
}

.icon-email{
	background-image: url(email.svg);
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
	padding:20px;
	filter: invert(90%);
}
.icon-linkedin {
	background-image: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg);
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
	filter: invert(100%);
}
.icon-linkedin2 {
	background-image: url(linkedin2.svg);
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
	filter: invert(100%);
	padding:20px;
	filter: invert(90%);
}
.icon-code {
	background-image: url(code-square.svg);
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
	filter: invert(100%);
}

.icon-controller {
	background-image: url(controller.svg);
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
	filter: invert(100%);
}

.icon-chrome {
	background-image: url(browser-chrome.svg);
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
	filter: invert(100%);
}

.icon-up {
	background-image: url(arrow-up.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.icon-down {
	background-image: url(arrow-up.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding:20px 30px;
	rotate: 180deg;
}
.icon-burger {
	background-image: url(burger.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 42px;
	width: 42px;
}

/**/
@media only screen and (max-width: 768px) {
	.body{
		background-size: auto 100lvh;
	}
	.navbar .navhide {
		display: none;
	}

	.navicon {
		padding: 8px;
	}

	.hidden {
		display: flex;
	}

	.icon-burger {
		height: 56px;
		width: 56px;
	}

	.home-container{
		height:85vh;
	}

	.home {
		font-size: 1.5rem;
		height:70vh;
	}

	.home-bottom {
		justify-content: center;
	}

	.home-arrow {
		display: none;
	}

	.about-content {
		padding-top: 8px;
	}

	.about-content-left {
		padding: 16px;
		width: 98%;
		font-size: 1rem;
		text-indent: 40px;
		line-height: 1.75;
	}

	.div-title h1 {
		font-size: 1.75rem;
		padding: 0px 24px;
	}

	.skill-container {
		width: 100%;
		flex-flow: column wrap;
	}

	.skill-category {
		min-width: 90%;
	}

	.skill-item {
		height: 80px;
		width: 80px;
	}

	.showcard-item{
		max-width: 98%;
		margin: 16px 0px;
	}

	.footer-container {
		flex-direction: column;
	}
	.footer-item {
		padding-top: 12px;
		width: 100%;
	}
}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
@media only screen and (orientation: portrait) {}
@media only screen and (orientation: landscape) {}

/*Quick classes*/
.border{border:1px solid green;}
.clear{clear:both;}
.float-left{float:left !important;}
.float-right{float:right !important;}
.marg-bot-30{margin-bottom:30px;}
.marg-auto{margin:auto;}
.width-auto{width:auto;}
.width-100{width:100%;}
.width-80{width:80%;}
.width-75{width:75%;}
.width-60{width:60%;}
.width-50{width:50%;}
.width-40{width:40%;}
.width-25{width:25%;}
.width-10{width:10%;}
.center2{display:table;margin:0 auto;}
.center-text{text-align:center;}
.center{display:flex;align-items:center;justify-content:center;}

/*Absolute Positioning*/
.absl{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);}
.abslt{position:absolute;top:0%;left:0%;}
.abslb{position:absolute;bottom:0%;left:0%;}
.absr{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);}
.absrt{position:absolute;top:0%;right:0%;}
.absrb{position:absolute;bottom:0%;right:0%;}
.absm{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.absmt{position:absolute;top:0%;left:50%;transform:translate(-50%,0%);}
.absmb{position:absolute;bottom:0%;left:50%;transform:translate(-50%,0%);}

/*object fit tells how an image or video will fit;define size to see effect*/
.fit-fill {object-fit:fill;}
.fit-contain {object-fit:contain;}
.fit-cover {object-fit:cover;}
.fit-scale-down {object-fit:scale-down;}
.fit-none {object-fit:none;}

/*Columns*/
.col.s1{width:8%}
.col.s2{width:16%}
.col.s3{width:24%}


/*QuickSave Colors*/
.skyblue{color:#de4e4e;}
.red1{background-color:#C53030;}
.red{color:#de4e4e;}
.orange{color:#ff9a00}
.yellow{color:#fdff00}
.green{color:#22ff00}
.blue{color:#0000ff}
.purple{color:#ad00ff}
.white{color:#fff}
.black{color:#000}
.gray{color:#777}
.bg-color-red{background-color:#de4e4e}
.bg-color-orange{background-color:#ff9a00}
.bg-color-yellow{background-color:#fdff00}
.bg-color-green{background-color:#00c371}
.bg-color-blue{background-color:#0000ff}
.bg-color-lightblue{background-color:#4444aa}
.bg-color-purple{background-color:#ad00ff}
.bg-color-white{background-color:#fff}
.bg-color-black{background-color:#000}
.bg-color-gray{background-color:#777}

